name: clang-format

on:
  push:
    paths: &paths
      - '**.c'
      - '**.cc'
      - '**.cpp'
      - '**.h'
      - '**.hh'
      - '**.hpp'
      - '.github/workflows/clang-format.yml'
      - 'utils/clang-format.ps1'
  pull_request:
    paths: *paths
  workflow_dispatch:

jobs:
  clang-format:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run clang-format
        shell: pwsh
        run: ./utils/clang-format.ps1 -Verbose
